<div id="<%= dom_id orders_description %>">
  <p>
    <strong>Item:</strong>
    <%= orders_description.item_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= orders_description.order_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= orders_description.quantity %>
  </p>

</div>
