<h1>Editing orders description</h1>

<%= render "form", orders_description: @orders_description %>

<br>

<div>
  <%= link_to "Show this orders description", @orders_description %> |
  <%= link_to "Back to orders descriptions", orders_descriptions_path %>
</div>
