<div class="container">
    <h1>Order details</h1>

    <%= render "form", order: @order %>

    <br>

        <div>
            <%= link_to "Back to orders", orders_path %>
        </div>
    </div>
