<div class="col mb-4">
    <div class="card h-88 bg-light">
        <div class="card-body">
            <h5 class="card-title  text-center mb-2"><%= item.name %></h5>
            <div class="card-text border-top pt-2"><%= item.description.truncate(120) %>
            </div>

            <div class="d-flex justify-content-between total font-weight-bold mt-4">
                <span>
                    <h5>
                        Ціна
                    </h5>
                </span>
                <span><%= item.price %></span>
            </h5>
        </div>
        <a><%= link_to "Детальніше", item, class: 'card-link' %></a>
    </div>
</div></div>
