<h1 class="display-5 text-center">Breach</h1>
<div id="items" class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <% @items.each do |item| %>
            <%= render item %>
        <% end %>
    </div>


</div>
